<% if @currentvisitor && @currentvisitor.persisted? %>

  <div class="page-header text-center">
    <h4>Movimentação</h4>
  </div>



  <%= form_for @history, class: 'entryForm' do |f| %>
    
    <%= f.hidden_field :visitor_id, value: @currentvisitor[:id] %>

    <%= f.hidden_field :tipo, value: Visitor.find(@currentvisitor[:id])[:in_building] ? 'Saida' : 'Entrada' %>

    <% unless @currentvisitor.in_building %>
      <%= f.label :motivo %>

      <%= f.text_field :motivo, class: 'form-control', placeholder: 'Motivo' %>

      <%= f.label :gabinete %>

      <%= f.select :gabinete, options_from_collection_for_select(@gabinetes, 'id', 'procurador'), {}, class: 'form-control' %>
    <% end %>
    <%= f.submit "Cadastrar #{@currentvisitor.in_building ? 'Saída' : 'Entrada'}", class: 'btn btn-default center-block form-control' %>

  <% end %>
<% end %>
<div class="page-header text-center">
  <h4>Últimas movimentações</h4>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Hora</th>
      <th>Nome</th>
    </tr>
  </thead>
 
  <tbody>
    <% @histories.each do |h| %>
      <tr>
        <td><%= h.created_at %> (<%= h.tipo %>)</td>
        <td><%= h.visitor.nome %></td>
      </tr>
    <% end %>
  </tbody>
</table>
