<div class="row well">
  <div class="page-header text-center">
    <div class="col-sm-6">
      <h4>Movimentação por Dia</h4>
    </div>
    <div class="col-sm-6">
      <%= form_tag '/changedate', method: 'get', id: 'changedate' do %>
        <div class="input-group" id="datetimepicker">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <%= text_field_tag :movement, nil, class: 'form-control', placeholder: 'Anteriores', id: 'movement' %>
          <!-- <input class="form-control" id="movement" placeholder="Anteriores" type="text"/> -->
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Hora</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Motivo</th>
    </tr>
      <% @histories.each do |h| %>
        <tr>
          <td><%= h.created_at %></td>
          <td><%= h.visitor.nome %></td>
          <td><%= h.tipo %></td>
          <td><%= h.motivo %></td>
        </tr>
      <% end %>
    </thead>
  </table>

  <script>
    $(function () {
      $('#datetimepicker').datetimepicker({
        format: 'DD/MM/YYYY'
      }).on('dp.change', function (e) {
        if (e.oldDate)
          $('#changedate').submit();
      });
    })
  </script>
</div>
