<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-target="menu" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="PRPB - Aplicações" src="/images/brasao2.gif" height="35"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li class="<%= url_for request.fullpath == '/' ? 'active' : '' %>
                           <%= url_for request.fullpath == '/entryhandling' ? 'active' : '' %>">                   
                  <%= link_to 'Cadastro de Acesso', entryhandling_path %>
                </li>
                <li class="<%= url_for request.fullpath == '/entryreport' ? 'active' : '' %>">
                  <%= link_to 'Relatório de Visitantes', entryreport_path %>
                </li>
            </ul>
        </div>
    </div>
</div>

