<!DOCTYPE html>
<html>
<head>
  <title>EntradaSaida</title>
  <link type="image/x-icon" rel="shortcut icon" href="<%= asset_path 'favicon-96x96.png' %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/nav" %>

<div class="container main-row fade in out">
	<% if flash[:error] || flash[:message] %>
	<div class="alert <%= flash[:error] ? 'alert-danger' : 'alert-notice' %>">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<%= flash[:error] || flash[:message] %>
		<script>
			window.setTimeout($("#alert").destroy(),2000);
		</script>
	</div>
	<% end %>
  <%= yield %>
</div>

</body>
</html>
